html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

.flatButtons {
  margin-left: 300px;
}

.cancelButtons {
  margin-left: 300px;
}
.dia {
  background-color: lightblue;
}

.dialogRadiusHack > div:first-child {
  border-radius: 10px 10px 5px 5px !important;
  background-color: lightblue;

}
